# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
# IntelliJ
*.iml
*.ipr
*.iws
.idea/
.idea_modules/
out/
gen/

# Eclipse
.classpath
.projectr
.settings/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
